body {
    background-image: url(/images/bg.jpg);
    background-size: cover;
}

.rounded-x {
    border-radius: 25%;
}

.text-menu-color {
    color: darkblue;
}

.menu {
    background-color: rgb(104,108,188);
}

.cursor-pointer{
    cursor : pointer
}
